#btnShowSolution:hover
{
    -fx-background-color: violet;

}

#btnMakeCard
{
    -fx-background-color: navajowhite;
    -fx-font-size: 16px;
}
#windowBG{
    -fx-background-image: url("lama.jpg");
    /*-fx-background-color: rgb(26, 46, 78);*/
}
#menuBarara{
    -fx-background-color: #FFFFFF;
}